name: Build
on:
  push:
    branches:
    - mkulke/mshvc-port/head
  pull_request:
    branches:
    - mkulke/mshvc-port/head

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libglib2.0-dev

    - name: Build
      run: |
        ./configure \
          --target-list=x86_64-softmmu \
          --disable-xen \
          --disable-vnc-jpeg  \
          --enable-mshv  \
          --disable-gtk \
        cd build
        make -j
